<!-- <ul>
{{#each list}}

  <li data-id="{{this.id}}" data-name="{{this.name}}" class='list{{this.id}} list-unstyled'>
  <h2> Name: {{this.name}}</h2>
  <div>
    <p>list: {{this.name}} </p>
    <p><button class="delete" name="button">delete</button></p>
    <p><button class="update" name="button">update</button></p>
    <p><button class="add_task" name="button">task</button></p>
</div>
{{#each this.tasks}}
<div data-id="{{this.id}}">
    <p>task: {{this.name}} </p>
    <p><button class="delete_task" name="button">delete</button></p>
    <p><button class="update_task" name="button">update</button></p>
  </div>
      {{/each}}

<hr>
</li>
{{/each}}

</ul> -->



{{#each list}}
    <a data-id="{{this.id}}" data-name="{{this.name}}" class='list{{this.id}} mdl-cell mdl-cell--1-col mdl-navigation__link toggle
    animated flipInY'><p>
      {{this.name}}
      <i class="material-icons delete" name="button">delete</i>
      <i class="material-icons update" name="button">mode_edit</i>
      <i class="material-icons add_task" name="button">note_add</i>
    </p>
  </a>

<ul class="inner">
  {{#each this.tasks}}
      <li class="li-table" data-id="{{this.id}}"><p>{{this.name}}
        <i class="material-icons delete_task" data-id="{{this.list_id}}" name="button">delete</i>
        <i class="material-icons update_task" name="button">mode_edit</i>
      </p>
      </li>
      {{/each}}
    </ul>
{{/each}}





















<!-- <ul>
{{#each list}}

<li data-id="{{this.id}}" data-name="{{this.name}}" class='list{{this.id}} list-unstyled'>
<div>
  <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp testing">
    <thead>
      <tr>
        <th class="mdl-data-table__cell--non-numeric">Task</th>
        <th></th>
        <th></th>
        <th></th>
        <th><button><i class="material-icons">library_add</i></th>
      </tr>
    </thead>
<tbody>
  <tr>
    <td class="mdl-data-table__cell--non-numeric"><p> {{this.name}} </p></td>
    <!-- <td><i class="material-icons add_task" name:"button">note_add</i></td> -->
    <!-- <td><i class="material-icons update" name:"button">mode_edit</i></td>
    <td><i class="material-icons update" name:"button">mode_edit</i></td>
    <td><i class="material-icons delete" name:"button">delete</i></td>
  </tr>
</tbody>
</table>
</div>
<hr>
</li>
{{/each}}

</ul> -->
